/**
 * Generic button styling.
 * * * * */

@import 'colors';

.button {
  background-color: $kavi-blue;
  border-color: $kavi-blue;
  color: $white;

  &:hover {
    background-color: $kavi-orange;
    border-color: $kavi-orange;
    color: $white;
  }

  &.padding-0-top {
    padding-top: 0;
  }

  &.padding-0-right {
    padding-right: 0;
  }

  &.padding-0-bottom {
    margin-bottom: 0;
  }

  &.padding-0-left {
    padding-left: 0;
  }

}

.shout-button {
  background-color: $kavi-orange;
  border-color: $kavi-orange;
  width: 100%;
}
