@import 'colors';

p, li, .button, input, textarea {
	font-size: 1.4rem;
}

p, li, input, textarea, h1, h2, h3, h4, h5, h6{
	color: $black;
}

.button {
	font-weight: 400;
}

.button-clear {
	font-weight: 700;
}

a, .button.button-clear {
	color: $kavi-orange;

	&:hover {
		color: $kavi-orange-dark;
	}
}
